.leaflet-container {   
  width: 70%;
  height: 80vh;
  margin: 30px auto;
  position: relative;
  left: -160px;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  left: 10px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
  position: relative;
  right: 10px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  font-size: larger;
}

#description {
  font-size: medium;
}