.leaflet-container {   
  width: 80%;
  height: 80vh;
  margin: 30px auto;
  position: relative;
  left: 0px;
}



.header {
  overflow: hidden;
  background-color: rgb(0, 51, 102); 
  padding: 10px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  left: 10px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: #E84A27;
}

.header-right {
  float: right;
  position: relative;
  right: 10px;
}

.header a:hover {
  background-color: #17315a;
  color: white;
  transition: 0.5s;
}

h1 {
  font-size: 200%;
}

#description {
  font-size: 120%;
  color: rgb(87, 87, 87);
}

.about {
  width: 850px;
  padding: 20px;
  margin: 0px auto;
  color: rgb(0, 51, 102);
}

.iconlegend {
  position: absolute;
  right: 70px;
}