.leaflet-container {   
  width: 70vw;
  height: 90vh;
  margin: 30px;
  margin-right: 0px;
  position: relative;
  background-color: #0455A4;
  
}



.header {
  overflow: hidden;

  /* background-color: #13294B; */
  background-color: #0455A4;

  padding: 10px 10px;
  height: 10vh;
  /* border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
}

.fullLogo{
 height: 7vh;
 margin-top: 0px ;
 margin-bottom: 10px;
 padding: 0px;
 margin:0px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
  left: 10px;
  align-self: center;
  align-content: center;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: #E84A27;
  padding:0px;
  margin:0px;

}

.header-right a{
  float: right;
  position: relative;
  right: 10px;
  margin:0px;
  line-height: 5vh;
  text-align: center;
  vertical-align: center;
 
}

/* .header a:hover {
  background-color: #17315a;
  color: white;
  transition: 0.5s;
} */

h1 {
  font-size: 200%;
}

#description {
  font-size: 120%;
  color: rgb(87, 87, 87);
}

.about {
  width: 850px;
  padding: 20px;
  margin: 0px auto;
  color: rgb(0, 51, 102);
}



.map-legend-outerContainer{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.iconlegend {
  /* position: absolute; */
  flex:1.75;
  font-size: 22px;
  background-color: #E8E9EA ;
  margin:30px;
  margin-left: 10px;
 
  padding:15px;
  border-radius: 20px;

}


.iconlegend img{
  width:5vw;
  
}
.map{
  flex:6;
  border-radius: 20px;
}