h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  align-items: center;
  display: flex;
  flex: 1 1 21%;
  flex-direction: column;
  text-align: left;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bio {
  width: 200px;
}

.profile-pic img {
  width: 200px;
  height: 200px;
}

/* .item {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2.3vw;
  width: 15.6vw;
  height: 25vw;
}

.profilepic {
  width: 15.6vw;
  height: 15.6vw;
}

.name {
  font-size: 1.5vw;
  font-weight: 600;
}

.bio {
  font-size: 1vw;
}

@media only screen and (max-width: 980px) {
  .team > div {
    width: 20vw;
    height: 32vw;
  }

  .profilepic {
    width: 20vw;
    height: 20vw;
  }

  .name {
    font-size: 1.8vw;
    font-weight: 600;
  }

  .bio {
    font-size: 1.3vw;
  }
}

@media only screen and (max-width: 720px) {
  .team > div {
    width: 22vw;
    height: 35vw;
  }

  .profilepic {
    width: 22vw;
    height: 22vw;
  }

  .name {
    font-size: 1.8vw;
    font-weight: 600;
  }

  .bio {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 650px) {
  .team > div {
    margin-bottom: 2vw;
    width: 28vw;
    height: 42vw;
  }

  .profilepic {
    width: 28vw;
    height: 28vw;
  }

  .name {
    font-size: 2.8vw;
    font-weight: 600;
  }

  .bio {
    font-size: 0.8vw;
  }
}

@media only screen and (max-width: 540px) {
  .team > div {
    margin-bottom: 2vw;
    width: 28vw;
    height: 48vw;
  }

  .profilepic {
    width: 28vw;
    height: 28vw;
  }

  .name {
    font-size: 2.8vw;
    font-weight: 600;
  }

  .bio {
    font-size: 0.8vw;
  }
}

@media only screen and (max-width: 450px) {
  .team > div {
    margin-bottom: 2vw;
    width: 32vw;
    height: 53vw;
  }

  .profilepic {
    width: 32vw;
    height: 32vw;
  }

  .name {
    font-size: 3vw;
    font-weight: 600;
  }

  .bio {
    font-size: 2.2vw;
  }
} */
