h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  align-items: center;
  display: flex;
  flex: 1 1 21%;
  flex-direction: column;
  text-align: left;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bio {
  width: 200px;
}

.profile-pic img {
  width: 200px;
  height: 200px;
}