h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  align-items: center;
  display: flex;
  flex: 1 1 21%;
  flex-direction: column;
  text-align: left;
  margin: 1em 0;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bio {
  width: 220px;
  padding: 2%;
}

.profile-pic img {
  width: 220px;
  height: 220px;
}

@media (max-width: 800px) {
  .item {
    flex: 1 1 50%;
  }
}

@media (max-width: 770px) {
  .item {
    flex: 1 1 70%;
  }
}
